:root {
	--complex-border-top-color-default: rgba(140, 140, 140, 0.5);
	--complex-border-left-color-default: rgba(140, 140, 140, 0.5);
	--complex-border-right-color-default: rgba(140, 140, 140, 0.5);
	--complex-outline-color-default: rgba(140, 140, 140, 0.5);
	--complex-border-bottom-color-default: rgba(140, 140, 140, 0.5);
	--complex-border-color-default: rgba(140, 140, 140, 0.5);
	--complex-text-decoration-color-default: rgba(140, 140, 140, 0.5);
	--complex-column-rule-color-default: rgba(140, 140, 140, 0.5);
	--complex-accent-color-default: rgba(140, 140, 140, 0.5);
	--complex-border-top-color-0: rgba(140, 140, 140, 0);
	--complex-border-left-color-0: rgba(140, 140, 140, 0);
	--complex-outline-color-0: rgba(140, 140, 140, 0);
	--complex-border-left-color-1: rgba(140, 140, 140, 0.001);
	--complex-text-decoration-color-1: rgba(140, 140, 140, 0.001);
	--complex-border-color-1: rgba(140, 140, 140, 0.001);
	--complex-border-bottom-color-1: rgba(140, 140, 140, 0.001);
	--complex-border-color-2: rgba(140, 140, 140, 0.002);
	--complex-border-bottom-color-2: rgba(140, 140, 140, 0.002);
	--complex-border-color-3: rgba(140, 140, 140, 0.003);
	--complex-text-decoration-color-3: rgba(140, 140, 140, 0.003);
	--complex-accent-color-3: rgba(140, 140, 140, 0.003);
	--complex-outline-color-4: rgba(140, 140, 140, 0.004);
	--complex-border-right-color-4: rgba(140, 140, 140, 0.004);
	--complex-border-left-color-4: rgba(140, 140, 140, 0.004);
	--complex-border-right-color-5: rgba(140, 140, 140, 0.005);
	--complex-accent-color-5: rgba(140, 140, 140, 0.005);
	--complex-column-rule-color-5: rgba(140, 140, 140, 0.005);
	--complex-border-left-color-5: rgba(140, 140, 140, 0.005);
	--complex-border-bottom-color-6: rgba(140, 140, 140, 0.006);
	--complex-border-left-color-6: rgba(140, 140, 140, 0.006);
	--complex-border-top-color-6: rgba(140, 140, 140, 0.006);
	--complex-accent-color-7: rgba(140, 140, 140, 0.007);
	--complex-border-top-color-7: rgba(140, 140, 140, 0.007);
	--complex-border-color-7: rgba(140, 140, 140, 0.007);
	--complex-accent-color-8: rgba(140, 140, 140, 0.008);
	--complex-border-top-color-8: rgba(140, 140, 140, 0.008);
	--complex-border-color-8: rgba(140, 140, 140, 0.008);
	--complex-border-left-color-8: rgba(140, 140, 140, 0.008);
	--complex-border-top-color-9: rgba(140, 140, 140, 0.009);
	--complex-border-left-color-9: rgba(140, 140, 140, 0.009);
	--complex-border-right-color-9: rgba(140, 140, 140, 0.009);
	--complex-outline-color-9: rgba(140, 140, 140, 0.009);
}
