/node_modules
**/dist
package-lock.json
**/.angular

/suites/todomvc/architecture-examples/*
!/suites/todomvc/architecture-examples/angular
!/suites/todomvc/architecture-examples/angular-complex
!/suites/todomvc/architecture-examples/backbone
!/suites/todomvc/architecture-examples/backbone-complex
!/suites/todomvc/architecture-examples/lit
/suites/todomvc/architecture-examples/lit/.wireit
/suites/todomvc/architecture-examples/lit/dist/index.js
!/suites/todomvc/architecture-examples/lit-complex
!/suites/todomvc/architecture-examples/preact
!/suites/todomvc/architecture-examples/preact-complex
!/suites/todomvc/architecture-examples/react
!/suites/todomvc/architecture-examples/react-complex
!/suites/todomvc/architecture-examples/react-redux
!/suites/todomvc/architecture-examples/react-redux-complex
!/suites/todomvc/architecture-examples/svelte
!/suites/todomvc/architecture-examples/svelte-complex
!/suites/todomvc/architecture-examples/vue
!/suites/todomvc/architecture-examples/vue-complex

/suites/todomvc/vanilla-examples/*
!/suites/todomvc/vanilla-examples/javascript-es5
!/suites/todomvc/vanilla-examples/javascript-es5-complex
!/suites/todomvc/vanilla-examples/javascript-es6
!/suites/todomvc/vanilla-examples/javascript-es6-complex
!/suites/todomvc/vanilla-examples/javascript-es6-webpack
!/suites/todomvc/vanilla-examples/javascript-es6-webpack-complex
!/suites/todomvc/vanilla-examples/javascript-web-components
!/suites/todomvc/vanilla-examples/javascript-web-components-complex/

!/suites/todomvc/big-dom-generator

!/suites/editors
/suites/editors/assets

!/suites/newssite
!/suites/newssite/news-next
!/suites/newssite/news-nuxt
!/suites/newssite/news-site-css

/suites/perf.webkit.org

/suites/react-stockcharts

/suites-experimental/responsive-design/build-dev/
