*.mode*
*.pyc
.DS_Store
.directory
/node_modules

.vscode
.angular

/suites/todomvc/architecture-examples/angular/node_modules/
/suites/todomvc/architecture-examples/angular-complex/node_modules/
/suites/todomvc/architecture-examples/backbone/node_modules/
/suites/todomvc/architecture-examples/backbone-complex/node_modules/
/suites/todomvc/architecture-examples/jquery/node_modules/
/suites/todomvc/architecture-examples/jquery-complex/node_modules/
/suites/todomvc/architecture-examples/preact/node_modules/
/suites/todomvc/architecture-examples/preact-complex/node_modules/
/suites/todomvc/architecture-examples/react/node_modules/
/suites/todomvc/architecture-examples/react-complex/node_modules/
/suites/todomvc/architecture-examples/react-redux/node_modules/
/suites/todomvc/architecture-examples/react-redux-complex/node_modules/
/suites/todomvc/architecture-examples/svelte/node_modules/
/suites/todomvc/architecture-examples/svelte-complex/node_modules/
/suites/todomvc/architecture-examples/vue/node_modules/
/suites/todomvc/architecture-examples/vue-complex/node_modules/
/suites/todomvc/architecture-examples/lit-complex/node_modules/

/suites/todomvc/vanilla-examples/javascript-es5/node_modules/
/suites/todomvc/vanilla-examples/javascript-es5-complex/node_modules/
/suites/todomvc/vanilla-examples/javascript-es6/node_modules/
/suites/todomvc/vanilla-examples/javascript-es6-complex/node_modules/
/suites/todomvc/vanilla-examples/javascript-es6-webpack/node_modules/
/suites/todomvc/vanilla-examples/javascript-es6-webpack-complex/node_modules/
/suites/todomvc/vanilla-examples/javascript-web-components-complex/node_modules/

/suites/charts/node_modules/
/suites/todomvc/big-dom-generator/node_modules/
/suites-experimental/responsive-design/node_modules/
/suites-experimental/responsive-design/build-dev/
