/node_modules
**/dist
package-lock.json

**/dist
/resources/tentative/*
!/resources/tentative/editors


/resources/todomvc/architecture-examples
/resources/todomvc/vanilla-examples/*
!/resources/todomvc/vanilla-examples/javascript-es5
