{{#if this.todos.allItems}}
    <footer class="footer">
        <span class="todo-count">
            <strong>{{this.todos.incompleteItems.length}}</strong>
            {{pluralize "item" this.todos.incompleteItems.length}}
            left</span>

        <ul class="filters">
            <li>
                <LinkTo @route="index">All</LinkTo>
                <LinkTo @route="active">Active</LinkTo>
                <LinkTo @route="completed">Completed</LinkTo>
            </li>
        </ul>

        <button type="button" class="clear-completed" {{on "click" this.todos.clearCompleted}}>Clear Completed</button>
    </footer>
{{/if}}