{{#if @todos.length}}
    <section class="main">
        <input id="mark-all-complete" class="toggle-all" type="checkbox" checked={{this.allItemsCompleted}} {{on "change" this.toggleAll}} />
        <label for="mark-all-complete">Mark all as complete</label>

        <ul class="todo-list">
            {{#each @todos as |todo|}}
                <TodoItem @todo={{todo}} />
            {{/each}}
        </ul>
    </section>
{{/if}}