<section class="main">
  <input id="mark-all-complete" class="toggle-all" type="checkbox" />
  <label for="mark-all-complete">Mark all as complete</label>

  <ul class="todo-list">
    {{#each @todos as |todo|}}
      <TodoItem @todo={{todo}} />
    {{/each}}
  </ul>
</section>
