.button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    border-radius: var(--border-radius-small);
    height: var(--nav-button-height);
    padding: 0 var(--content-spacing-small);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  
  .primary-button {
    border: 1px solid var(--color-utils-offwhite);
    background-color: var(--color-utils-offwhite);
    color: var(--color-utils-black);
  }
  
  .primary-button:hover {
    border-color: var(--color-utils-white);
    background-color: var(--color-utils-white);
    color: var(--color-utils-gray-light);
  }
  
  .secondary-button {
    border: 1px solid var(--color-utils-offwhite);
    color: var(--color-utils-offwhite);
    background-color: transparent;
  }
  
  .secondary-button:hover {
    border-color: var(--color-utils-white);
    color: var(--color-utils-white);
  }
  