.mobile-menu {
    position: fixed;
    width: 100%;
    min-width: 300px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: var(--index-nav-mobile);
    display: none;
    font-family: var(--font-family-default);
    background-color: var(--color-utils-black);
    color: var(--color-utils-gray-lighter);
  }
  
  .mobile-menu:target,
  .mobile-menu.open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--content-spacing-xlarge) var(--content-spacing-xlarge)
      var(--content-spacing-xlarge);
  }
  
  .mobile-menu .close-button {
    position: absolute;
    top: var(--content-spacing-small);
    right: var(--content-spacing-small);
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    display: flex;
  }
  
  .mobile-menu .animated-icon {
    --animated-icon-width: 24px;
    --animated-icon-background: transparent;
    --animated-icon-color: var(--color-utils-offwhite);
    --animated-icon-hover: var(--color-utils-white);
  }
  
  .mobile-menu-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--color-utils-gray);
    flex-shrink: 0;
  }
  
  .mobile-menu-title {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
  }
  
  .mobile-menu-title svg {
    max-width: 200px;
  }
  
  .mobile-menu-title svg path {
    fill: var(--color-utils-offwhite);
  }
  
  .mobile-menu-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow-y: auto;
  }
  
  .mobile-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .mobile-menu-nav .navbar-list {
    flex-direction: column;
    width: 100%;
  }
  
  .mobile-menu-nav .navbar-item a {
    line-height: var(--nav-button-height-mobile);
    margin: var(--content-spacing-small) 0;
    align-items: center;
    padding: 0;
  }
  
  .mobile-menu-nav .navbar-item:not(:last-child) {
    margin-right: 0;
  }
  