.message {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-utils-red);
    color: var(--color-utils-white);
    font-family: var(--font-family-default);
    padding: var(--content-spacing-large);
    position: relative;
}

.message:target,
.message.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message .close-button {
    position: absolute;
    top: var(--content-spacing-small);
    right: var(--content-spacing-small);
    width: var(--icon-size-small);
    height: var(--icon-size-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .message .animated-icon {
    --animated-icon-width: 24px;
    --animated-icon-background: transparent;
    --animated-icon-color: var(--color-utils-offwhite);
    --animated-icon-hover: var(--color-utils-white);
  }
  
  .message-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: var(--font-size-medium);
    text-transform: uppercase;
    margin-bottom: var(--content-spacing-large);
    width: 100%;
  }
  
  .message-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .message-description {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    display: inline-block;
    text-align: center;
  }