.toggle-outer {
    display: flex;
    justify-content: space-between;
    padding: var(--content-spacing-small);
    border-radius: var(--border-radius-medium);
    border: 2px solid var(--color-utils-gray-light);
    color: var(--color-utils-black);
    width: 100%;
    height: 40px;
  }
  
  .toggle-description {
    margin-right: 16px;
  }
  
  .toggle-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 42px;
    height: 22px;
    position: relative;
  }
  
  .toggle-container .label {
    width: 42px;
    height: 16px;
    display: flex;
    background-color: var(--color-utils-gray-lighter);
    border-radius: 22px;
    cursor: pointer;
  }
  
  .toggle-container .switch {
    position: absolute;
    left: 0;
    top: 3px;
    background-color: var(--color-utils-gray);
    border-radius: 22px;
    transition: var(--transition-default);
    width: 45%;
    height: 16px;
    pointer-events: none;
  }
  
  .toggle-container .switch::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 0;
    bottom: -3px;
    background-color: var(--color-utils-red);
    border-radius: var(--border-radius-50);
    transition: var(--transition-default);
  }
  
  .toggle-container .label input[type="checkbox"] {
    width: 44px;
    height: 16px;
    z-index: -1;
    position: absolute;
    left: -6px;
    top: 0;
  }
  
  .toggle-container .label input[type="checkbox"]:checked + .switch::before {
    transform: translateX(20px);
  }
  
  .toggle-container .label input[type="checkbox"]:checked + .switch {
    width: 100%;
  }
  