.button {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    border-radius: var(--border-radius-small);
    height: var(--nav-button-height);
    padding: 0 var(--content-spacing-small);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.primary-button {
    border: 1px solid var(--color-buttons-primary-background);
    background-color: var(--color-buttons-primary-background);
    color: var(--color-buttons-primary-text);
}

.primary-button.dark {
    border: 1px solid var(--color-buttons-primary-background-dark);
    background-color: var(--color-buttons-primary-background-dark);
    color: var(--color-buttons-primary-text-dark);
}

.primary-button:hover {
    border-color: var(--color-buttons-primary-background-hover);
    background-color: var(--color-buttons-primary-background-hover);
    color: var(--color-buttons-primary-text-hover);
}

.primary-button.dark:hover {
    border-color: var(--color-buttons-primary-background-dark-hover);
    background-color: var(--color-buttons-primary-background-dark-hover);
    color: var(--color-buttons-primary-text-dark-hover);
}

.secondary-button {
    border: 1px solid var(--color-buttons-secondary-border);
    color: var(--color-buttons-secondary-text);
    background-color: transparent;
}

.secondary-button.dark {
    border: 1px solid var(--color-buttons-secondary-border-dark);
    color: var(--color-buttons-secondary-text-dark);
    background-color: transparent;
}

.secondary-button:hover {
    border-color: var(--color-buttons-secondary-border-hover);
    color: var(--color-buttons-secondary-text-hover);
}

.secondary-button.dark:hover {
    border-color: var(--color-buttons-secondary-border-dark-hover);
    color: var(--color-buttons-secondary-text-dark-hover);
}
