:root {
    --viewport-width: 800px;
    --viewport-height: 600px;
    --foreground: rgb(235, 235, 235);
    --text-width: 650px;
}

body {
    background-color: rgb(46, 51, 55);
    color: var(--foreground);
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

::selection {
    color: rgb(46, 51, 55);
    background-color: var(--foreground);
}

h1,
button, .button {
    font-family: "Futura-Medium", Futura, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

code {
    font-family: Menlo, Monaco, monospace;
    font-size: smaller;
}

hr {
    border: 1px solid var(--foreground);
    width: 50%;
    margin: 40px auto;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

main {
    --padding-width: 15px;
    --border-width: 6px;
    display: block;
    position: absolute;
    width: var(--viewport-width);
    height: var(--viewport-height);
    top: 50%;
    left: 50%;
    margin-top: calc(var(--viewport-height) / -2 - var(--padding-width) - var(--border-width));
    margin-left: calc(var(--viewport-width) / -2 - var(--padding-width) - var(--border-width));
    padding: var(--padding-width);
    border: var(--border-width) solid var(--foreground);
    border-radius: 20px;
}

#logo {
    position: absolute;
    left: -70px;
    top: 115px;
    width: 75px;
    height: 406px;
    cursor: pointer;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: normal;
    color: var(--foreground);
    text-align: center;
}

h2 {
    margin-top: 0px;
    font-weight: normal;
    color: var(--foreground);
}

h3 {
    margin: 5px 0 5px 0;
    font-weight: normal;
}

p {
    font-size: 16px;
    line-height: 21px;
}

a {
    color: inherit;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

section#home > .buttons {
    margin-top: 80px;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 0px
}

button, .button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.button {
    box-sizing: border-box;
    text-decoration: none;
}

.buttons button, .buttons .button {
    appearance: none;
    border: 3px solid var(--foreground);
    border-radius: 10px;
    min-width: 200px;
    padding: 5px 0px;
    margin: 0 20px;
    font-size: 25px;
    color: var(--foreground);
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.buttons button:active {
    background-color: var(--foreground);
    color: rgb(46, 51, 55);
    border-color: var(--foreground) !important;
}

.buttons button:focus {
    outline: none;
    border-color: rgb(232, 79, 79);
}

section {
    display: none;
    width: var(--viewport-width);
    height: var(--viewport-height);
}

section > p {
    margin: 10px 20px;
}

section.selected {
    display: block;
}

#testContainer {
    position: absolute;
    top: 15px;
    left: 15px;
    width: var(--viewport-width);
    height: var(--viewport-height);
}

section#home > p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

section#home > p:first-child {
    margin-top: 160px;
    text-align: center;
}

button.show-about {
    margin-top: 100px;
    font-size: 16px;
    clear: both;
}

#screen-size-warning {
    display: none;
}

#progress {
    position: absolute;
    bottom: -6px;
    left: 60px;
    right: 60px;
    height: 6px;
    background-color: rgb(128, 128, 128);
    border-left: 6px solid rgb(46, 51, 55);
    border-right: 6px solid rgb(46, 51, 55);
}

#progress-completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 0;
    background-color: var(--foreground);
}


#info {
    position: absolute;
    bottom: -25px;
    left: 60px;
    right: 60px;
    height: 12px;
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 12px;
}
#info-label {
    position: absolute;
    left: 6px;
}
#info-progress {
    position: absolute;
    right: 6px;
    text-align: right;
}

section#detailed-results > .results-table {
    float: left;
    width: 50%;
}

section#summarized-results > #result-number,
section#summarized-results > #confidence-number {
    font-family: "Futura-CondensedMedium", Futura, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

section#summarized-results > #result-number {
    text-align: center;
    font-size: 145px;
    line-height: 145px;
}

section#summarized-results > #confidence-number {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    color: rgb(128, 128, 128);
}

section#detailed-results button, section#detailed-results .button {
    min-width: 300px;
}

section#detailed-results >.arithmetic-mean {
    clear: both;
    padding-top: 32px;
    text-align: center;
}

section#detailed-results > .arithmetic-mean > label {
    font-weight: bold;
    margin-right: 10px;
}

section#detailed-results button.show-about {
    margin-top: 30px;
}

section#detailed-results h1 {
    margin-bottom: 10px;
}

section#about {
    overflow-y: auto;
}

section#about p {
    width: var(--text-width);
    padding-left: calc((var(--viewport-width) - var(--text-width)) / 2);
}

section#about h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}

section#about .note {
    color: rgb(128, 128, 128);
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    text-align: right;
    color: rgb(128, 128, 128);
}

.gauge {
    position: relative;
    width: 738px;
    height: 78px;
    background-image: url(gauge.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.gauge > .window {
    position: absolute;
    left: 0;
    top: 33px;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.gauge > .window > .needle {
    position: absolute;
    left: 363px;
    bottom: -88px;
    width: 4px;
    height: 400px;
    background-color: rgb(247, 148, 29);
    transform: rotate(-70deg);
    transform-origin: 2px 400px;
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    #logo {
        content: url(logo@2x.png); /* FIXME: This does not work in Firefox. */
    }

    .gauge {
        background-image: url(gauge@2x.png);
    }
}