body {
    background-color: rgb(46, 51, 55);
    color: rgb(235, 235, 235);
    font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

::selection {
    color: rgb(46, 51, 55);
    background-color: rgb(235, 235, 235);
}

h1,
button {
    font-family: "Futura-Medium", Futura, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

code {
    font-family: Menlo, Monaco, monospace;
    font-size: smaller;
}

hr {
    border: 1px solid rgb(235, 235, 235);
    width: 50%;
    margin: 40px auto;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

main {
    display: block;
    position: absolute;
    width: 1500px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -421px;
    margin-left: -771px;
    padding: 15px;
    border: 6px solid rgb(235, 235, 235);
    border-radius: 20px;
}

#logo {
    position: absolute;
    left: -70px;
    top: 115px;
    width: 75px;
    height: 406px;
    cursor: pointer;
}

h1 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: normal;
    color: rgb(235, 235, 235);
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 21px;
}

a {
    color: inherit;
}

.buttons {
    margin-top: 30px;
    text-align: center;
}

button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.buttons button {
    appearance: none;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 10px;
    min-width: 200px;
    padding: 5px 20px;
    margin: 0 40px;
    font-size: 25px;
    color: rgb(235, 235, 235);
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.buttons button:active {
    background-color: rgb(235, 235, 235);
    color: rgb(46, 51, 55);
    border-color: rgb(235, 235, 235) !important;
}

.buttons button:focus {
    outline: none;
    border-color: rgb(232, 79, 79);
}

section {
    display: none;
}

section > p {
    margin: 10px 20px;
}

section.selected {
    display: block;
}

#testContainer {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 800px;
    height: 600px;
}

section#home > p {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

section#home > p:first-child {
    margin-top: 160px;
    text-align: center;
}

button.show-about {
    margin-top: 100px;
    font-size: 16px;
    clear: both;
}

section#home > .buttons {
    margin-top: 80px;
}

section#running > #progress {
    position: absolute;
    bottom: -6px;
    left: 60px;
    right: 60px;
    height: 6px;
    background-color: rgb(128, 128, 128);
    border-left: 6px solid rgb(46, 51, 55);
    border-right: 6px solid rgb(46, 51, 55);
}

section#running #progress-completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 0;
    background-color: rgb(235, 235, 235);
}

section#running > #info {
    position: absolute;
    bottom: -25px;
    left: 60px;
    right: 60px;
    height: 12px;
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 12px;
}

section#summarized-results > #result-number,
section#summarized-results > #confidence-number {
    font-family: "Futura-CondensedMedium", Futura, "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

section#summarized-results > #result-number {
    text-align: center;
    font-size: 145px;
    line-height: 145px;
}

section#summarized-results > #confidence-number {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    color: rgb(128, 128, 128);
}

section#detailed-results, section#summarized-results, section#about {
    padding: 0 100px 0 100px;
}

section#detailed-results > table, section#detailed-results > .aggregated-metric-result{
    float: left;
    width: 50%;
}


section#detailed-results > .arithmetic-mean {
    clear: both;
    padding-top: 32px;
    text-align: center;
}

section#detailed-results > .arithmetic-mean > label {
    font-weight: bold;
    margin-right: 10px;
    color: rgb(128, 128, 128);
}

section#detailed-results > .show-about {
    margin-top: 30px;
    text-align: center;
}

section#about h1 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}

section#about .note {
    color: rgb(128, 128, 128);
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    text-align: right;
    color: rgb(128, 128, 128);
}

.gauge {
    position: relative;
    width: 738px;
    height: 78px;
    background-image: url(gauge.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.gauge > .window {
    position: absolute;
    left: 0;
    top: 33px;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.gauge > .window > .needle {
    position: absolute;
    left: 363px;
    bottom: -88px;
    width: 4px;
    height: 400px;
    background-color: rgb(247, 148, 29);
    transform: rotate(-70deg);
    transform-origin: 2px 400px;
}

@media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    #logo {
        content: url(logo@2x.png); /* FIXME: This does not work in Firefox. */
    }

    .gauge {
        background-image: url(gauge@2x.png);
    }
}


.details-toggle {
	display: inline-block;
	padding: 2px 10px 2px 5px;
	margin: 0 300px 2px 0;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	opacity: 0.7;
	cursor: pointer;
	user-select: none;
	transition: border-color 250ms ease, opacity 250ms ease;
}
.details-toggle:hover,
.details-toggle:focus-within {
	border-color: #bbb;
	opacity: 1;
}
.details-toggle input {
	display: inline-block;
	appearance: none;
	width: 1em;
	height: 1em;
	border: none;
	background: none;
}
.details-toggle input:after {
	content: '▶';
	opacity: 0.5;
	display: inline-block;
	transform-origin: 50%;
	position: relative;
	transition: all 250ms ease;
}
.details-toggle input:checked:after {
	opacity: 1;
	transform: rotate(90deg);
}

/* Charts (lib/charts.js) */
.bar-chart text,
.scatter-plot text {
	font-size: 11px;
	fill: #777;
	dominant-baseline: hanging;
}
.bar-chart .axis,
.scatter-plot .axis {
	stroke: #aaa;
}
.bar-chart .minMax {
	stroke: #777;
	stroke-width: 1;
	stroke-opacity: 0.5;
	stroke-dasharray: 2;
}
.bar-chart .mean {
	stroke: #777;
	stroke-width: 2;
	stroke-opacity: 0.5;
}
.bar-chart .mean:hover {
	stroke-opacity: 1;
}
.bar-chart g.bar {
	fill: #8ad;
}
.bar-chart g.bar.large text {
	display: none;
}
.bar-chart g.bar:hover {
	filter: brightness(1.1);
}
.bar-chart g.bar text {
	fill: #ddd;
	text-anchor: middle;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.bar-chart g.bar:hover text {
	display: block;
	fill: #fff;
	text-shadow: 0 0 5px #000;
}
.bar-chart .label {
	text-anchor: end;
	dominant-baseline: middle;
}

.scatter-plot .marker {
	stroke-width: 1px;
	fill: currentColor;
	opacity: 0.6;
	fill-opacity: 0.3;
}
.scatter-plot .marker:hover {
	opacity: 1;
	filter: drop-shadow(0 0 2px currentColor);
}
.scatter-plot .percentile {
	fill: currentColor;
	opacity: 0.6;
	fill-opacity: 0.3;
	stroke-width: 0px;
}
.scatter-plot .percentile line {
	stroke-width: 1px;
}
.scatter-plot .percentile:hover {
	opacity: 1;
}

/* Chart colors */
.chart .blue {
	color: #4081ec;
	stroke: #4081ec;
}

.chart .green {
	color: #699023;
	stroke: #699023;
}

.chart .purple {
	color: #391d74;
	stroke: #391d74;
}

.chart .orange {
	color: #fe8f06;
	stroke: #fe8f06;
}

.chart .violet {
	color: #8711ac;
	stroke: #8711ac;
}

.chart .green-light {
	color: #3bb502;
	stroke: #3bb502;
}
