<!DOCTYPE html>
<html lang="en" data-framework="javascript" data-version="es6" data-features="webpack" class="<%= htmlClasses %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A TodoMVC workload app for Speedometer!" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <%= body %>
    </body>
</html>
