@import "@spectrum-css/vars/dist/spectrum-global.css";
@import "@spectrum-css/vars/dist/spectrum-medium.css";
@import "@spectrum-css/vars/dist/spectrum-light.css";
@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/actionbutton/dist/index-vars.css";
@import "@spectrum-css/clearbutton/dist/index-vars.css";
@import "@spectrum-css/page/dist/index-vars.css";
@import "@spectrum-css/textfield/dist/index-vars.css";
@import "@spectrum-css/search/dist/index-vars.css";
@import "@spectrum-css/treeview/dist/index-vars.css";
@import "@spectrum-css/button/dist/index-vars.css";
@import "@spectrum-css/actiongroup/dist/index-vars.css";
@import "@spectrum-css/actionbutton/dist/index-vars.css";
@import "@spectrum-css/menu/dist/index-vars.css";
@import "@spectrum-css/popover/dist/index-vars.css";
@import "@spectrum-css/divider/dist/index-vars.css";

/* 
.folder {
  display: block;
  padding-left: 2%;
} */
/* .folder > .row_wrapper {
  background-color: white;
  padding-block: 2px;
  display: inline-flex;
} */

.main-ui {
  display: grid;
  grid-template-columns: 3% 22% 75%;
  grid-template-rows: 5% 10% 85%;
  height: 100vh;
}

.top-bar {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

/* .mail-ui>.top-bar>p {
  vertical-align: middle;
}

.mail-ui>.top-bar>.top-bar-title {
  font-size: 42px;
  font-weight: bold;
  padding-left: 5px;
} */

.todo-area {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.ribbon {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-auto-flow: column;
  justify-items: center; 
  align-items:center;
  gap:5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;
}

.ribbon>.divider {
  height: 85%;
  align-self: center;
}

.tree-area {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: white;
  overflow-y: scroll;
}

/* .top-bar > :first-child{
  padding-left: 10%;
} */


.show-more {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: center;
}

