@import "@spectrum-css/vars/dist/spectrum-global.css";
@import "@spectrum-css/vars/dist/spectrum-medium.css";
@import "@spectrum-css/vars/dist/spectrum-light.css";
@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/actionbutton/dist/index-vars.css";
@import "@spectrum-css/clearbutton/dist/index-vars.css";
@import "@spectrum-css/page/dist/index-vars.css";
@import "@spectrum-css/textfield/dist/index-vars.css";
@import "@spectrum-css/search/dist/index-vars.css";
@import "@spectrum-css/treeview/dist/index-vars.css";
/* 
.folder {
  display: block;
  padding-left: 2%;
} */
/* .folder > .row_wrapper {
  background-color: white;
  padding-block: 2px;
  display: inline-flex;
} */

.main-ui {
  display: grid;
  grid-template-columns: 3% 97%;
  grid-template-rows: 6% 94%;
  height: 100vh;
}

.main-ui>.top-bar {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

/* .mail-ui>.top-bar>p {
  vertical-align: middle;
}

.mail-ui>.top-bar>.top-bar-title {
  font-size: 42px;
  font-weight: bold;
  padding-left: 5px;
} */

.main-ui>.main-area {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 30% 70%;
}

.main-area>.ribbon {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main-area>.tree-area {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  overflow-y: scroll;
}

.main-area>.todo-area {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* .top-bar > :first-child{
  padding-left: 10%;
} */


.show-more {
  justify-self: start;
  align-self: center;
}

