{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "settings": {
        "react": {
            "version": "16"
        }
    },
    "rules": {
        "no-extra-parens": 0,
        "react/react-in-jsx-scope": 0,
        "react/no-unknown-property": 0,
        "react/prop-types": 0
        // "react/jsx-max-props-per-line": [1, { "maximum": 2 }]
    }
}
