.todo-area.todoapp > div > .todoapp li { 
            border-right-color: rgba(140,140,140,0); 
            border-bottom-color: rgba(140,140,140,0);
        }
.just-span .toggle-all-container ~ .todo-list > li * { 
            border-bottom-color: rgba(140,140,140,0.001); 
            outline-color: rgba(140,140,140,0.001);
        }
*.view-0 > .todoapp li + li { 
            outline-color: rgba(140,140,140,0.002); 
            accent-color: rgba(140,140,140,0.002);
        }
.just-span > .todo-area div { 
            border-color: rgba(140,140,140,0.003); 
            column-rule-color: rgba(140,140,140,0.003);
        }
.todoholder.view-0 > .todoapp .header ~ main > .todo-list li { 
            text-decoration-color: rgba(140,140,140,0.004); 
            accent-color: rgba(140,140,140,0.004);
        }
.top-bar.li-0 ~ * > .todoholder > .todoapp > main .view-2 { 
            accent-color: rgba(140,140,140,0.005); 
            border-right-color: rgba(140,140,140,0.005);
        }
*.toggle-all-container > ul .li-2 + .li-3 { 
            border-right-color: rgba(140,140,140,0.006); 
            column-rule-color: rgba(140,140,140,0.006);
        }
div.view-0 > section .header ~ .main > * div { 
            border-top-color: rgba(140,140,140,0.007); 
            outline-color: rgba(140,140,140,0.007);
        }
.todo-area.toggle-all-container > .todoholder > * .li-2 ~ .li-4 { 
            outline-color: rgba(140,140,140,0.008); 
            column-rule-color: rgba(140,140,140,0.008);
        }
.todo-area.toggle-all-container > .todoholder > .todoapp .view-4 { 
            border-left-color: rgba(140,140,140,0.009); 
            border-color: rgba(140,140,140,0.009);
        }
.main.li-0 > ul .li-4 + .li-5 { 
            border-color: rgba(140,140,140,0.01); 
            border-right-color: rgba(140,140,140,0.01);
        }
.todoholder.toggle-all-container > * .header ~ main > * .view-5 { 
            border-right-color: rgba(140,140,140,0.011); 
            border-bottom-color: rgba(140,140,140,0.011);
        }
.todoholder.li-0 > .todoapp li + li { 
            border-bottom-color: rgba(140,140,140,0.012); 
            text-decoration-color: rgba(140,140,140,0.012);
        }
.just-span div ~ div > div div { 
            border-top-color: rgba(140,140,140,0.013); 
            column-rule-color: rgba(140,140,140,0.013);
        }
.todoholder.todoapp > * .header ~ .main > .todo-list .li-7 { 
            column-rule-color: rgba(140,140,140,0.014); 
            accent-color: rgba(140,140,140,0.014);
        }
.just-span > .todo-area div { 
            outline-color: rgba(140,140,140,0.015); 
            border-top-color: rgba(140,140,140,0.015);
        }
.just-span > .todo-area .li-8 { 
            border-left-color: rgba(140,140,140,0.016); 
            text-decoration-color: rgba(140,140,140,0.016);
        }
.todoapp.toggle-all-container .toggle-all-container ~ ul div { 
            accent-color: rgba(140,140,140,0.017); 
            column-rule-color: rgba(140,140,140,0.017);
        }
.just-span > div li { 
            text-decoration-color: rgba(140,140,140,0.018); 
            border-color: rgba(140,140,140,0.018);
        }
.just-span .toggle-all-container ~ .todo-list .view-9 { 
            border-color: rgba(140,140,140,0.019); 
            column-rule-color: rgba(140,140,140,0.019);
        }
.main.toggle-all-container > .todo-list li + li { 
            column-rule-color: rgba(140,140,140,0.02); 
            accent-color: rgba(140,140,140,0.02);
        }
.just-span .top-bar ~ .todo-area > .todoholder .view-10 { 
            accent-color: rgba(140,140,140,0.021); 
            border-bottom-color: rgba(140,140,140,0.021);
        }
.just-span > * .li-10 + li { 
            border-left-color: rgba(140,140,140,0.022); 
            column-rule-color: rgba(140,140,140,0.022);
        }
.todoapp.toggle-all-container .header ~ .main .view-11 { 
            border-bottom-color: rgba(140,140,140,0.023); 
            border-right-color: rgba(140,140,140,0.023);
        }
div.header > .todoapp header ~ .main > ul .li-12 { 
            border-color: rgba(140,140,140,0.024); 
            text-decoration-color: rgba(140,140,140,0.024);
        }
.just-span > .todo-area div ~ .todo-list > .li-12 .view-12 { 
            text-decoration-color: rgba(140,140,140,0.025); 
            outline-color: rgba(140,140,140,0.025);
        }
.just-span > .todo-area .li-13 { 
            outline-color: rgba(140,140,140,0.026); 
            border-bottom-color: rgba(140,140,140,0.026);
        }
section.toggle-all-container header ~ .main .view-13 { 
            border-bottom-color: rgba(140,140,140,0.027); 
            border-left-color: rgba(140,140,140,0.027);
        }
.just-span > div > * > section li { 
            border-color: rgba(140,140,140,0.028); 
            column-rule-color: rgba(140,140,140,0.028);
        }
.todoapp.toggle-all-container div ~ .todo-list .view-14 { 
            accent-color: rgba(140,140,140,0.029); 
            text-decoration-color: rgba(140,140,140,0.029);
        }
div.view-0 > .todoapp .header ~ .main > ul .li-15 { 
            border-right-color: rgba(140,140,140,0.03); 
            border-top-color: rgba(140,140,140,0.03);
        }
.todoholder.toggle-all-container > .todoapp .toggle-all-container ~ ul > li .view-15 { 
            border-top-color: rgba(140,140,140,0.031); 
            border-bottom-color: rgba(140,140,140,0.031);
        }
.just-span > .todo-area .li-16 { 
            border-bottom-color: rgba(140,140,140,0.032); 
            accent-color: rgba(140,140,140,0.032);
        }
.todoholder.view-0 div ~ .todo-list .view-16 { 
            border-right-color: rgba(140,140,140,0.033); 
            border-color: rgba(140,140,140,0.033);
        }
.just-span > .todo-area > div > .todoapp .li-17 { 
            border-color: rgba(140,140,140,0.034); 
            border-left-color: rgba(140,140,140,0.034);
        }
.todoapp.toggle-all-container .header ~ * div { 
            border-left-color: rgba(140,140,140,0.035); 
            border-top-color: rgba(140,140,140,0.035);
        }
.just-span > div > .todoholder > .todoapp li { 
            border-bottom-color: rgba(140,140,140,0.036); 
            column-rule-color: rgba(140,140,140,0.036);
        }
.todoapp.toggle-all-container .li-6 ~ .li-18 .view-18 { 
            column-rule-color: rgba(140,140,140,0.037); 
            border-color: rgba(140,140,140,0.037);
        }
.just-span > .todo-area .li-19 { 
            border-bottom-color: rgba(140,140,140,0.038); 
            text-decoration-color: rgba(140,140,140,0.038);
        }
.just-span > * > .todoholder * { 
            column-rule-color: rgba(140,140,140,0.039); 
            outline-color: rgba(140,140,140,0.039);
        }
.just-span > div * + .li-20 { 
            border-left-color: rgba(140,140,140,0.04); 
            accent-color: rgba(140,140,140,0.04);
        }
.todo-area.toggle-all-container > * > * div { 
            accent-color: rgba(140,140,140,0.041); 
            border-top-color: rgba(140,140,140,0.041);
        }
.header.view-0 ~ .main > ul * ~ .li-21 { 
            column-rule-color: rgba(140,140,140,0.042); 
            text-decoration-color: rgba(140,140,140,0.042);
        }
.just-span > div .li-6 ~ li > div { 
            text-decoration-color: rgba(140,140,140,0.043); 
            border-color: rgba(140,140,140,0.043);
        }
.todoholder.toggle-all-container > .todoapp li + .li-22 { 
            border-color: rgba(140,140,140,0.044); 
            outline-color: rgba(140,140,140,0.044);
        }
.just-span .top-bar ~ * > .todoholder .view-22 { 
            outline-color: rgba(140,140,140,0.045); 
            border-bottom-color: rgba(140,140,140,0.045);
        }
.just-span > * li { 
            accent-color: rgba(140,140,140,0.046); 
            column-rule-color: rgba(140,140,140,0.046);
        }
div.view-0 > div > * div { 
            border-left-color: rgba(140,140,140,0.047); 
            border-top-color: rgba(140,140,140,0.047);
        }
*.todoapp > section .header ~ main > ul .li-24 { 
            border-top-color: rgba(140,140,140,0.048); 
            border-right-color: rgba(140,140,140,0.048);
        }
.just-span * { 
            border-left-color: rgba(140,140,140,0.049); 
            border-bottom-color: rgba(140,140,140,0.049);
        }
.just-span > .todo-area .li-25 { 
            outline-color: rgba(140,140,140,0.05); 
            column-rule-color: rgba(140,140,140,0.05);
        }
.just-span > div > .todoholder .view-25 { 
            column-rule-color: rgba(140,140,140,0.051); 
            accent-color: rgba(140,140,140,0.051);
        }
.just-span > div .li-25 + .li-26 { 
            accent-color: rgba(140,140,140,0.052); 
            border-bottom-color: rgba(140,140,140,0.052);
        }
.just-span div { 
            border-bottom-color: rgba(140,140,140,0.053); 
            border-color: rgba(140,140,140,0.053);
        }
.just-span > .todo-area li { 
            border-color: rgba(140,140,140,0.054); 
            border-top-color: rgba(140,140,140,0.054);
        }
.todoapp.toggle-all-container .header ~ .main .view-27 { 
            border-top-color: rgba(140,140,140,0.055); 
            outline-color: rgba(140,140,140,0.055);
        }
.just-span > div * + .li-28 { 
            outline-color: rgba(140,140,140,0.056); 
            text-decoration-color: rgba(140,140,140,0.056);
        }
.todo-area.toggle-all-container > .todoholder > section .view-28 { 
            text-decoration-color: rgba(140,140,140,0.057); 
            border-color: rgba(140,140,140,0.057);
        }
.just-span > .todo-area > .todoholder > .todoapp .li-29 { 
            accent-color: rgba(140,140,140,0.058); 
            column-rule-color: rgba(140,140,140,0.058);
        }
.todo-area.view-0 > .todoholder > .todoapp div { 
            column-rule-color: rgba(140,140,140,0.059); 
            border-top-color: rgba(140,140,140,0.059);
        }
.todoholder.li-0 > * .li-29 + li { 
            border-top-color: rgba(140,140,140,0.06); 
            border-right-color: rgba(140,140,140,0.06);
        }
.top-bar.todoholder ~ .todo-area > div > .todoapp > * .view-30 { 
            border-left-color: rgba(140,140,140,0.061); 
            text-decoration-color: rgba(140,140,140,0.061);
        }
.todoholder.view-0 > section .li-30 + .li-31 { 
            border-color: rgba(140,140,140,0.062); 
            column-rule-color: rgba(140,140,140,0.062);
        }
.just-span > .todo-area > div > .todoapp div { 
            column-rule-color: rgba(140,140,140,0.063); 
            accent-color: rgba(140,140,140,0.063);
        }
*.li-0 > .todoapp * ~ .main > ul li { 
            border-right-color: rgba(140,140,140,0.064); 
            border-top-color: rgba(140,140,140,0.064);
        }
.just-span .view-32 { 
            border-top-color: rgba(140,140,140,0.065); 
            text-decoration-color: rgba(140,140,140,0.065);
        }
div.todoapp > section .header ~ * > .todo-list .li-33 { 
            text-decoration-color: rgba(140,140,140,0.066); 
            column-rule-color: rgba(140,140,140,0.066);
        }
.todoholder.li-0 > section .header ~ * > .todo-list .view-33 { 
            column-rule-color: rgba(140,140,140,0.067); 
            border-left-color: rgba(140,140,140,0.067);
        }
.just-span > div * { 
            accent-color: rgba(140,140,140,0.068); 
            border-color: rgba(140,140,140,0.068);
        }
.todoapp.toggle-all-container li ~ .li-34 .view-34 { 
            border-bottom-color: rgba(140,140,140,0.069); 
            text-decoration-color: rgba(140,140,140,0.069);
        }
.just-span > .todo-area .li-35 { 
            text-decoration-color: rgba(140,140,140,0.07); 
            border-color: rgba(140,140,140,0.07);
        }
.todoapp.toggle-all-container header ~ .main div { 
            border-color: rgba(140,140,140,0.071); 
            column-rule-color: rgba(140,140,140,0.071);
        }
.just-span > div > .todoholder > .todoapp li { 
            outline-color: rgba(140,140,140,0.072); 
            text-decoration-color: rgba(140,140,140,0.072);
        }
.just-span > div > div .view-36 { 
            border-top-color: rgba(140,140,140,0.073); 
            column-rule-color: rgba(140,140,140,0.073);
        }
.just-span > div > .todoholder > section .li-37 { 
            border-color: rgba(140,140,140,0.074); 
            border-left-color: rgba(140,140,140,0.074);
        }
*.toggle-all-container .li-7 ~ li .view-37 { 
            border-left-color: rgba(140,140,140,0.075); 
            border-right-color: rgba(140,140,140,0.075);
        }
.todoholder.todoapp > * .header ~ .main > ul li { 
            text-decoration-color: rgba(140,140,140,0.076); 
            outline-color: rgba(140,140,140,0.076);
        }
.just-span .top-bar ~ .todo-area > .todoholder div { 
            outline-color: rgba(140,140,140,0.077); 
            border-bottom-color: rgba(140,140,140,0.077);
        }
div.toggle-all-container > .todoapp .li-38 + .li-39 { 
            accent-color: rgba(140,140,140,0.078); 
            border-right-color: rgba(140,140,140,0.078);
        }
.just-span .toggle-all-container ~ .todo-list > .li-39 .view-39 { 
            border-right-color: rgba(140,140,140,0.079); 
            border-bottom-color: rgba(140,140,140,0.079);
        }
.header.toggle-all-container ~ main > .todo-list .li-34 ~ .li-40 { 
            column-rule-color: rgba(140,140,140,0.08); 
            border-top-color: rgba(140,140,140,0.08);
        }
.todoapp.toggle-all-container .header ~ .main > .todo-list li ~ li > .view-40 { 
            border-bottom-color: rgba(140,140,140,0.081); 
            text-decoration-color: rgba(140,140,140,0.081);
        }
.just-span > .todo-area li { 
            text-decoration-color: rgba(140,140,140,0.082); 
            accent-color: rgba(140,140,140,0.082);
        }
div.todoapp > div > section .view-41 { 
            border-right-color: rgba(140,140,140,0.083); 
            border-left-color: rgba(140,140,140,0.083);
        }
.todoholder.li-0 > section header ~ .main > ul .li-42 { 
            border-left-color: rgba(140,140,140,0.084); 
            column-rule-color: rgba(140,140,140,0.084);
        }
.just-span > div > .todoholder > .todoapp .view-42 { 
            column-rule-color: rgba(140,140,140,0.085); 
            border-color: rgba(140,140,140,0.085);
        }
.just-span > div > .todoholder > .todoapp .li-43 { 
            border-top-color: rgba(140,140,140,0.086); 
            text-decoration-color: rgba(140,140,140,0.086);
        }
.just-span .top-bar ~ .todo-area .view-43 { 
            border-bottom-color: rgba(140,140,140,0.087); 
            border-left-color: rgba(140,140,140,0.087);
        }
.todoholder.todoapp > .todoapp .header ~ .main > .todo-list li { 
            outline-color: rgba(140,140,140,0.088); 
            border-color: rgba(140,140,140,0.088);
        }
.top-bar.li-0 ~ .todo-area > .todoholder > section > .main .view-44 { 
            border-color: rgba(140,140,140,0.089); 
            border-left-color: rgba(140,140,140,0.089);
        }
.todoholder.todoapp > section .li-44 + * { 
            column-rule-color: rgba(140,140,140,0.09); 
            accent-color: rgba(140,140,140,0.09);
        }
.just-span > .todo-area * ~ .todo-list > li .view-45 { 
            accent-color: rgba(140,140,140,0.091); 
            border-left-color: rgba(140,140,140,0.091);
        }
.just-span > div > div > * .li-46 { 
            border-left-color: rgba(140,140,140,0.092); 
            border-bottom-color: rgba(140,140,140,0.092);
        }
.just-span .view-46 { 
            border-color: rgba(140,140,140,0.093); 
            border-right-color: rgba(140,140,140,0.093);
        }
.just-span > div .li-47 { 
            border-bottom-color: rgba(140,140,140,0.094); 
            text-decoration-color: rgba(140,140,140,0.094);
        }
.just-span .top-bar ~ .todo-area div { 
            text-decoration-color: rgba(140,140,140,0.095); 
            column-rule-color: rgba(140,140,140,0.095);
        }
.just-span > .todo-area .li-48 { 
            border-right-color: rgba(140,140,140,0.096); 
            border-bottom-color: rgba(140,140,140,0.096);
        }
section.toggle-all-container header ~ .main .view-48 { 
            border-color: rgba(140,140,140,0.097); 
            border-left-color: rgba(140,140,140,0.097);
        }
.just-span > * li + li { 
            border-bottom-color: rgba(140,140,140,0.098); 
            accent-color: rgba(140,140,140,0.098);
        }
.just-span * ~ div .view-49 { 
            border-left-color: rgba(140,140,140,0.099); 
            border-color: rgba(140,140,140,0.099);
        }
.todoholder.todoapp > section .li-49 + .li-50 { 
            border-color: rgba(140,140,140,0.1); 
            border-top-color: rgba(140,140,140,0.1);
        }
.todoholder.todoapp > .todoapp .header ~ .main > ul .view-50 { 
            border-top-color: rgba(140,140,140,0.101); 
            outline-color: rgba(140,140,140,0.101);
        }
.just-span > .todo-area .li-51 { 
            border-right-color: rgba(140,140,140,0.102); 
            border-bottom-color: rgba(140,140,140,0.102);
        }
.just-span > .todo-area > .todoholder div { 
            outline-color: rgba(140,140,140,0.103); 
            accent-color: rgba(140,140,140,0.103);
        }
.just-span > .todo-area > div > .todoapp .li-52 { 
            border-right-color: rgba(140,140,140,0.104); 
            border-bottom-color: rgba(140,140,140,0.104);
        }
.just-span > .todo-area > .todoholder .view-52 { 
            border-top-color: rgba(140,140,140,0.105); 
            accent-color: rgba(140,140,140,0.105);
        }
div.toggle-all-container > .todoapp .header ~ .main > .todo-list .li-53 { 
            accent-color: rgba(140,140,140,0.106); 
            column-rule-color: rgba(140,140,140,0.106);
        }
.top-bar.header ~ div > .todoholder > section > main div { 
            border-right-color: rgba(140,140,140,0.107); 
            border-bottom-color: rgba(140,140,140,0.107);
        }
.just-span > .todo-area .li-53 + li { 
            border-bottom-color: rgba(140,140,140,0.108); 
            text-decoration-color: rgba(140,140,140,0.108);
        }
.just-span * { 
            text-decoration-color: rgba(140,140,140,0.109); 
            border-top-color: rgba(140,140,140,0.109);
        }
.just-span > div > .todoholder > .todoapp .li-55 { 
            border-color: rgba(140,140,140,0.11); 
            border-right-color: rgba(140,140,140,0.11);
        }
.just-span .top-bar ~ * .view-55 { 
            border-right-color: rgba(140,140,140,0.111); 
            accent-color: rgba(140,140,140,0.111);
        }
*.view-0 > .todoapp .header ~ main > .todo-list .li-56 { 
            accent-color: rgba(140,140,140,0.112); 
            text-decoration-color: rgba(140,140,140,0.112);
        }
.todoholder.view-0 > .todoapp .header ~ main > ul * { 
            text-decoration-color: rgba(140,140,140,0.113); 
            border-bottom-color: rgba(140,140,140,0.113);
        }
main.toggle-all-container > ul li + .li-57 { 
            column-rule-color: rgba(140,140,140,0.114); 
            border-right-color: rgba(140,140,140,0.114);
        }
.just-span * ~ .todo-area > * div { 
            border-right-color: rgba(140,140,140,0.115); 
            text-decoration-color: rgba(140,140,140,0.115);
        }
main.view-0 > .todo-list li + .li-58 { 
            column-rule-color: rgba(140,140,140,0.116); 
            border-top-color: rgba(140,140,140,0.116);
        }
.just-span > div * { 
            border-left-color: rgba(140,140,140,0.117); 
            text-decoration-color: rgba(140,140,140,0.117);
        }
.just-span > * > div > section .li-59 { 
            text-decoration-color: rgba(140,140,140,0.118); 
            border-top-color: rgba(140,140,140,0.118);
        }
.just-span > .todo-area > * .view-59 { 
            border-bottom-color: rgba(140,140,140,0.119); 
            column-rule-color: rgba(140,140,140,0.119);
        }
.just-span > div .li-60 { 
            border-top-color: rgba(140,140,140,0.12); 
            border-color: rgba(140,140,140,0.12);
        }
.just-span > div > div .view-60 { 
            border-bottom-color: rgba(140,140,140,0.121); 
            accent-color: rgba(140,140,140,0.121);
        }
.just-span > div li { 
            border-top-color: rgba(140,140,140,0.122); 
            text-decoration-color: rgba(140,140,140,0.122);
        }
.todo-area.view-0 * ~ .li-61 .view-61 { 
            column-rule-color: rgba(140,140,140,0.123); 
            border-color: rgba(140,140,140,0.123);
        }
.todoholder.todoapp > .todoapp li + li { 
            text-decoration-color: rgba(140,140,140,0.124); 
            outline-color: rgba(140,140,140,0.124);
        }
.top-bar.todoholder ~ .todo-area > .todoholder > section > .main div { 
            border-top-color: rgba(140,140,140,0.125); 
            border-color: rgba(140,140,140,0.125);
        }
.just-span > div .li-62 + .li-63 { 
            border-color: rgba(140,140,140,0.126); 
            border-bottom-color: rgba(140,140,140,0.126);
        }
div.view-0 > .todoholder > section .view-63 { 
            border-bottom-color: rgba(140,140,140,0.127); 
            border-left-color: rgba(140,140,140,0.127);
        }
div.view-0 > .todoapp .li-63 + .li-64 { 
            text-decoration-color: rgba(140,140,140,0.128); 
            border-top-color: rgba(140,140,140,0.128);
        }
.just-span .top-bar ~ div > * * { 
            outline-color: rgba(140,140,140,0.129); 
            border-right-color: rgba(140,140,140,0.129);
        }
main.li-0 > ul li + li { 
            text-decoration-color: rgba(140,140,140,0.13); 
            accent-color: rgba(140,140,140,0.13);
        }
.top-bar.todoholder ~ .todo-area > .todoholder > section > .main .view-65 { 
            accent-color: rgba(140,140,140,0.131); 
            border-bottom-color: rgba(140,140,140,0.131);
        }
.just-span > .todo-area .li-65 + .li-66 { 
            border-color: rgba(140,140,140,0.132); 
            border-right-color: rgba(140,140,140,0.132);
        }
.just-span div { 
            border-right-color: rgba(140,140,140,0.133); 
            accent-color: rgba(140,140,140,0.133);
        }
.todoholder.li-0 > section .header ~ .main > .todo-list li { 
            accent-color: rgba(140,140,140,0.134); 
            border-color: rgba(140,140,140,0.134);
        }
.just-span > .todo-area > div > section div { 
            border-color: rgba(140,140,140,0.135); 
            border-left-color: rgba(140,140,140,0.135);
        }
div.toggle-all-container > .todoapp header ~ .main > .todo-list .li-68 { 
            border-left-color: rgba(140,140,140,0.136); 
            border-top-color: rgba(140,140,140,0.136);
        }
.just-span > .todo-area > .todoholder > .todoapp .view-68 { 
            border-bottom-color: rgba(140,140,140,0.137); 
            text-decoration-color: rgba(140,140,140,0.137);
        }
.just-span > .todo-area .li-68 + .li-69 { 
            border-right-color: rgba(140,140,140,0.138); 
            border-color: rgba(140,140,140,0.138);
        }
.todo-area.todoapp > .todoholder > section div { 
            border-color: rgba(140,140,140,0.139); 
            accent-color: rgba(140,140,140,0.139);
        }
.todoholder.toggle-all-container > section .li-69 + .li-70 { 
            accent-color: rgba(140,140,140,0.14); 
            column-rule-color: rgba(140,140,140,0.14);
        }
.just-span .view-70 { 
            border-color: rgba(140,140,140,0.141); 
            border-bottom-color: rgba(140,140,140,0.141);
        }
.todoholder.view-0 > .todoapp li + .li-71 { 
            border-left-color: rgba(140,140,140,0.142); 
            accent-color: rgba(140,140,140,0.142);
        }
.just-span > * > .todoholder > section .view-71 { 
            border-top-color: rgba(140,140,140,0.143); 
            border-bottom-color: rgba(140,140,140,0.143);
        }
.just-span > .todo-area li + .li-72 { 
            accent-color: rgba(140,140,140,0.144); 
            column-rule-color: rgba(140,140,140,0.144);
        }
.just-span > .todo-area > .todoholder div { 
            border-right-color: rgba(140,140,140,0.145); 
            border-color: rgba(140,140,140,0.145);
        }
.just-span > .todo-area > .todoholder > .todoapp .li-73 { 
            text-decoration-color: rgba(140,140,140,0.146); 
            column-rule-color: rgba(140,140,140,0.146);
        }
.just-span * { 
            outline-color: rgba(140,140,140,0.147); 
            accent-color: rgba(140,140,140,0.147);
        }
.just-span > .todo-area > div > section li { 
            border-left-color: rgba(140,140,140,0.148); 
            border-color: rgba(140,140,140,0.148);
        }
.todoholder.todoapp .toggle-all-container ~ .todo-list .view-74 { 
            accent-color: rgba(140,140,140,0.149); 
            column-rule-color: rgba(140,140,140,0.149);
        }
.todoholder.li-0 > section * ~ .main > * .li-75 { 
            column-rule-color: rgba(140,140,140,0.15); 
            text-decoration-color: rgba(140,140,140,0.15);
        }
.just-span > div div { 
            accent-color: rgba(140,140,140,0.151); 
            border-top-color: rgba(140,140,140,0.151);
        }
.just-span > div > .todoholder > .todoapp .li-76 { 
            border-top-color: rgba(140,140,140,0.152); 
            text-decoration-color: rgba(140,140,140,0.152);
        }
.just-span .view-76 { 
            border-left-color: rgba(140,140,140,0.153); 
            outline-color: rgba(140,140,140,0.153);
        }
.todoholder.view-0 > .todoapp * ~ * > .todo-list li { 
            outline-color: rgba(140,140,140,0.154); 
            border-top-color: rgba(140,140,140,0.154);
        }
.just-span div ~ div > .todoholder div { 
            border-color: rgba(140,140,140,0.155); 
            border-left-color: rgba(140,140,140,0.155);
        }
div.li-0 > .todoapp .li-77 + * { 
            border-left-color: rgba(140,140,140,0.156); 
            border-bottom-color: rgba(140,140,140,0.156);
        }
.todoholder.li-0 > .todoapp header ~ .main > .todo-list .view-78 { 
            column-rule-color: rgba(140,140,140,0.157); 
            border-color: rgba(140,140,140,0.157);
        }
.just-span > * .li-78 + li { 
            border-color: rgba(140,140,140,0.158); 
            border-bottom-color: rgba(140,140,140,0.158);
        }
.todo-area.toggle-all-container > div > .todoapp * { 
            border-bottom-color: rgba(140,140,140,0.159); 
            border-top-color: rgba(140,140,140,0.159);
        }
.just-span > .todo-area .li-80 { 
            border-left-color: rgba(140,140,140,0.16); 
            column-rule-color: rgba(140,140,140,0.16);
        }
.just-span > .todo-area > div div { 
            column-rule-color: rgba(140,140,140,0.161); 
            border-bottom-color: rgba(140,140,140,0.161);
        }
.just-span > .todo-area > div > .todoapp .li-81 { 
            border-bottom-color: rgba(140,140,140,0.162); 
            text-decoration-color: rgba(140,140,140,0.162);
        }
.just-span .top-bar ~ .todo-area div { 
            text-decoration-color: rgba(140,140,140,0.163); 
            border-top-color: rgba(140,140,140,0.163);
        }
*.toggle-all-container > ul li + .li-82 { 
            border-top-color: rgba(140,140,140,0.164); 
            border-left-color: rgba(140,140,140,0.164);
        }
.just-span div { 
            border-left-color: rgba(140,140,140,0.165); 
            column-rule-color: rgba(140,140,140,0.165);
        }
.just-span > * .li-82 + li { 
            accent-color: rgba(140,140,140,0.166); 
            border-right-color: rgba(140,140,140,0.166);
        }
.just-span .view-83 { 
            column-rule-color: rgba(140,140,140,0.167); 
            border-color: rgba(140,140,140,0.167);
        }
*.toggle-all-container > .todoapp .li-83 + li { 
            border-color: rgba(140,140,140,0.168); 
            border-bottom-color: rgba(140,140,140,0.168);
        }
.just-span > div > div > * .view-84 { 
            border-bottom-color: rgba(140,140,140,0.169); 
            border-left-color: rgba(140,140,140,0.169);
        }
.just-span > div > .todoholder > * .li-85 { 
            border-left-color: rgba(140,140,140,0.17); 
            outline-color: rgba(140,140,140,0.17);
        }
.main.li-0 .toggle-all-container ~ * div { 
            outline-color: rgba(140,140,140,0.171); 
            text-decoration-color: rgba(140,140,140,0.171);
        }
div.toggle-all-container > .todoapp * + .li-86 { 
            column-rule-color: rgba(140,140,140,0.172); 
            border-left-color: rgba(140,140,140,0.172);
        }
.just-span > .todo-area .toggle-all-container ~ .todo-list > * div { 
            border-left-color: rgba(140,140,140,0.173); 
            border-bottom-color: rgba(140,140,140,0.173);
        }
.just-span > .todo-area li { 
            text-decoration-color: rgba(140,140,140,0.174); 
            border-top-color: rgba(140,140,140,0.174);
        }
*.todoapp > .todoholder > .todoapp * { 
            border-top-color: rgba(140,140,140,0.175); 
            border-right-color: rgba(140,140,140,0.175);
        }
.just-span > div > * > section .li-88 { 
            outline-color: rgba(140,140,140,0.176); 
            column-rule-color: rgba(140,140,140,0.176);
        }
.just-span div { 
            accent-color: rgba(140,140,140,0.177); 
            text-decoration-color: rgba(140,140,140,0.177);
        }
.just-span > .todo-area .li-89 { 
            outline-color: rgba(140,140,140,0.178); 
            border-top-color: rgba(140,140,140,0.178);
        }
.todo-area.todoapp .toggle-all-container ~ * .view-89 { 
            border-top-color: rgba(140,140,140,0.179); 
            border-right-color: rgba(140,140,140,0.179);
        }
*.li-0 > section * + li { 
            border-right-color: rgba(140,140,140,0.18); 
            column-rule-color: rgba(140,140,140,0.18);
        }
section.view-0 > .main .toggle-all-container ~ .todo-list > * .view-90 { 
            column-rule-color: rgba(140,140,140,0.181); 
            border-bottom-color: rgba(140,140,140,0.181);
        }
.just-span > div .li-90 + li { 
            border-bottom-color: rgba(140,140,140,0.182); 
            border-color: rgba(140,140,140,0.182);
        }
.just-span > div > .todoholder * { 
            border-right-color: rgba(140,140,140,0.183); 
            accent-color: rgba(140,140,140,0.183);
        }
.todoholder.view-0 > .todoapp .header ~ .main > * li { 
            border-left-color: rgba(140,140,140,0.184); 
            border-color: rgba(140,140,140,0.184);
        }
.just-span > .todo-area > .todoholder > .todoapp .view-92 { 
            border-color: rgba(140,140,140,0.185); 
            border-right-color: rgba(140,140,140,0.185);
        }
*.todoapp > .todoapp .li-92 + .li-93 { 
            accent-color: rgba(140,140,140,0.186); 
            outline-color: rgba(140,140,140,0.186);
        }
.just-span > * > div > .todoapp div { 
            border-right-color: rgba(140,140,140,0.187); 
            border-bottom-color: rgba(140,140,140,0.187);
        }
.todoholder.toggle-all-container > section header ~ .main > ul li { 
            border-bottom-color: rgba(140,140,140,0.188); 
            text-decoration-color: rgba(140,140,140,0.188);
        }
.just-span > .todo-area * { 
            text-decoration-color: rgba(140,140,140,0.189); 
            accent-color: rgba(140,140,140,0.189);
        }
.just-span > div > * > section li { 
            border-top-color: rgba(140,140,140,0.19); 
            border-bottom-color: rgba(140,140,140,0.19);
        }
.just-span .top-bar ~ .todo-area div { 
            border-bottom-color: rgba(140,140,140,0.191); 
            column-rule-color: rgba(140,140,140,0.191);
        }
.just-span > div li + * { 
            border-left-color: rgba(140,140,140,0.192); 
            border-color: rgba(140,140,140,0.192);
        }
.todo-area.toggle-all-container .li-74 ~ li div { 
            text-decoration-color: rgba(140,140,140,0.193); 
            column-rule-color: rgba(140,140,140,0.193);
        }
.just-span > .todo-area > div > .todoapp .li-97 { 
            column-rule-color: rgba(140,140,140,0.194); 
            border-color: rgba(140,140,140,0.194);
        }
.just-span .top-bar ~ .todo-area .view-97 { 
            border-left-color: rgba(140,140,140,0.195); 
            border-bottom-color: rgba(140,140,140,0.195);
        }
div.todoapp > section li + li { 
            border-bottom-color: rgba(140,140,140,0.196); 
            outline-color: rgba(140,140,140,0.196);
        }
div.li-0 ~ .todo-area > .todoholder > .todoapp > .main .view-98 { 
            column-rule-color: rgba(140,140,140,0.197); 
            border-color: rgba(140,140,140,0.197);
        }
.just-span > .todo-area .li-99 { 
            outline-color: rgba(140,140,140,0.198); 
            text-decoration-color: rgba(140,140,140,0.198);
        }
.todo-area.toggle-all-container > .todoholder > .todoapp .view-99 { 
            text-decoration-color: rgba(140,140,140,0.199); 
            border-left-color: rgba(140,140,140,0.199);
        }