.todo-area {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    /* background: #f5f5f5; */
    color: #111111;
    min-width: 230px;
    max-width: 550px;
    margin: 0 7%;
    /* margin: 0; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}
