name: CI

on:
  push:
    branches: [ "main", "tests-in-ci" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        browser: [chrome, firefox, safari]
    env:
      BROWSER: ${{ matrix.browser }}
    steps:
      - uses: actions/checkout@v3

      - name: Run test
        run: |
          echo "Running in $BROWSER"
          npm install
          node tests/unit-test-run.mjs
